{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/prop-types": 0,
    "react/jsx-fragments": 0,
    "react/no-array-index-key": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": ["off"]
  },
  "env": {
      "browser": true,
      "node": true,
      "jest": true
  }
}
