@import 'colors';

body {
  background-color: $black;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  a {
    color: $primary;

    &:link,
    &:active {
      color: $primary;
    }

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-content {
    display: flex;
    justify-content: center;
    padding-top: 36px;
  }
}
