@import 'colors';

body {
  background-color: $black;
  color: $white;
  font-weight: 300;

  a {
    color: $primary;

    &:link,
    &:active {
      color: $primary;
    }

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }
}

.app {
  &-content {
    display: flex;
    justify-content: center;
  }
}
